PROJECT_NAME=

# FRONTEND ENV
FRONT_PORT=
FRONT_HOST=

# DATABASE ENV
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_NAME=db

# BACKEND ENV
BACK_PORT=
BACK_HOST=
JWT_SECRET=
HASH_SALT_ROUND=

# NGINX ENV
NGINX=

API="http://${BACK_HOST}:${BACK_PORT}/"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_NAME}:${POSTGRES_PORT}/${POSTGRES_DB}"
FRONT_URL="http://${FRONT_HOST}:${FRONT_PORT}/"
SWAGGER="http://localhost:5500"
